body{
    margin: 0;
    padding: 0;
    background: url('pexels-tom-fisk-13706532.jpg') no-repeat;
    background-size: 100% 100%;
}
.bg img{
    margin-top: 80px;
}
.right img{
    width: 100%;
}
.text {
    margin-top:60px;
    font-size:60px;
    font-style:italic;
    font-weight:bold;
    word-spacing:10px;
    font-family: 'Berkshire Swash', serif;
    color: #A7DD3C;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 4px #802A00, 9px 2px 4px rgba(77,25,0,0.5), 9px 0 8px #FFD500, 11px 0 18px #806A00, 12px 2px 8px rgba(77,66,0,0.5), 12px 0 20px #D4FF00, 14px 0 20px #6A8000, 15px 2px 20px rgba(64,77,0,0.5), 15px 0 35px #80FF00, 17px 0 35px #408000, 17px 2px 32px rgba(38,77,0,0.5);
}
.text1 p{
    font-size:35px;
    font-style:italic;
    font-weight:bold;
    border-top:solid 4px #FFF;
    border-bottom:solid 4px #FFF;
    text-align:center;
    color:#FFF;
    text-shadow:3px 3px rgba(220,0,0,0.8);
    margin-top:30px;
    font-family: 'Young Serif', serif;
}
.text2 p{
    margin-top:10px;
    font-size:25px;
    font-weight:bold;
    word-spacing:3px;
    color:#fff;
    text-shadow:5px 3px  3px rgba(79, 9, 78 );
    position:relative;
    font-family: 'Belanosima', sans-serif;
}
.enter b{
    border: solid 1px white;
    border-radius: 20px;
    padding: 20px 10px 10px 10px ;
    font-size: 30px;
    margin-left:30px ;
}
.enter p{
    color:#FFF;
    text-align:center;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight:bold;
    font-size: 20px;
}
.enter p:hover{
    
    color:#10e730;
}
.enter  a{
    color:#FFF;
}
.enter a:hover{
    text-decoration:none;
    
}
@media screen and (max-width:1000px) {
    .bg img{
        margin-top:10px ;
        text-align: center;
        margin-left: 30px;
    }
    .text{
        text-align: center;
        font-size: 40px;
        padding-left: 90px;
        margin-top: 50px
    }
    .text1 p{
        font-size: 25px;
        margin-left: 50px;
    }
    .text2 p{
        font-size:18px ;
        margin:5px auto;
    }
    .enter b{
        margin-left: 190px ;
    }
    .enter p{
        width: 50px;
        margin:0px auto;
    }
}