body{
    margin: 0;
    padding: 0;
}
.video{

    position: relative;
}				
	.logo{
        width:100%;
        height:150px;
        bottom:500px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 78%,#30ea0b 60%);
    }
    .logo img{
        margin-top: 10px;
    }
    
    .menuarea{
        height:100px;
        border-bottom:solid 3px white;
    }
    .menuarea ul{
            list-style:none;
            margin:0;
            padding:30px 0px 50px 20px;
        
        }
        .menuarea ul li{
            float:left;
                
        }
        .menuarea ul li a:link, .menuarea ul li a:visited{
            color:#4b4242;
            background:#30ea0b;
            text-decoration:none;
            padding:10px 25px;
            display:block;
            border-right:solid 2px #FFF;
            transition: all 1s;
        
        }
        .menuarea ul li:last-child a:link, .menuarea ul li:last-child a:visited{
            border-right:none;
        }
        .menuarea ul li a:hover{
            color:#ff8248;
            background:rgb(161, 246, 104);
            transform: scale(0.98,0.98);
        }
        .menuarea ul li ul{
            display:none;
        }
        .menuarea ul li:hover ul{
            display:block;
            position:absolute;
            z-index:1000;
        }
        .menuarea ul li:hover ul li{
            float:none;
        }
        .menuarea ul li:hover ul li a:link,#menuarea ul li:hover ul li a:visited{
            border:none;
            border-bottom:solid 1px black;
        }

        .logo2{
        height:150px;
            background:transparent;
        }
        .logo2 img{
            height: 80%;
            width: 100%;
        }
.policy{
    background:skyblue;
    padding-bottom:120px;
}
.p1 p :first-child{
    text-align: center;
    background: #E96222;
    color: #FFF;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    margin: 30px auto;
    padding: 10px;
    font-family: 'Playfair Display', serif;
}
.p1 p a{
    text-decoration: none;
}
.policy img:first-child{
    width: 100%;
    box-shadow:1px 5px 14px 4px #5CFFFF;
}
.i1{
    margin: 10px auto;
    border-bottom: solid 7px blanchedalmond;
    background:#AAC8FF;
    margin-bottom: 0;
    padding-top: 10px;
}
.i1 img{
    height: 120px;
    width: 120px !important;
    border-radius: 50%;
    box-shadow:1px 2px 5px 4px #FFF !important;
    margin-left: 20px;
}
.i1 p{
    margin-top: 10px;
    text-align: center;
}
.i2{
    border-bottom: solid 7px blanchedalmond;
    margin: 10px auto;
    background:#AAC8FF;
    margin-top: 0;
    padding-top: 10px;
}
.i2 img{
    height: 120px;
    width: 120px !important;
    border-radius: 50%;
    box-shadow:1px 2px 5px 4px #FFF !important;
    margin-left: 20px;
}
.i2 p{
    margin-top: 10px;
    text-align: center;
}
.imag{
    width: 100%;
    height: 140px;
    margin-top: -140px;
    background: url('image1.png');
}
.show{
    height: 400px;
    background: url('pexels-denis-ovsyannikov-2724241.webp');
    background-size: 100% 100%;
}
.show p:first-child{
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.show p{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: -10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.gallery{
    margin: 30px 0 30px auto;
    overflow: hidden;
}
.gallery p{
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.gallery img{
    height: 100%;
    width: 100%;
    transition: all 4s;
}
.gallery img:first-child:hover{
    transform: scale(1.01,1.01);
}
.g1{
    height: 30px;
}
.foot{
    background: url('pexels-artem-podrez-7233117.webp');
    background-size: 100% 100%;
}
.foot img{
    margin-top: 40px;
    margin-bottom: 20px;
}
.foot h2{
    color: #30ea0b;
}
.foot ul{
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    font-weight: 300;
    font-weight: 500;
}
.foot ul li{
    margin-top: 15px;
    font-size: 17px;
    transition: all 1s;
}
.foot ul li:hover{
    transform: scale(0.95,0.95);
}
.foot ul li a{
    text-decoration: none;
    color: #d4cece;
}
.foot ul li a:hover{
    text-decoration: none;
    color: #30ea0b;
    
}
.foot iframe{
    margin-top: 150px;
    margin-left: 50px;
}