body{
    margin: 0;
    padding: 0;
}
.video{
    position: relative;
}				
	.logo{
        width:100%;
        margin-top:150px;
        bottom:500px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 78%,#54ea36 60%);
    }
    .logo img{
        margin-top: 10px;
    }
    .menuarea{
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: solid 2px #FFF;
        position: absolute;
    }
   .light{
        background: transparent !important;
   }
    .nav-item{
        font-size: 18px;
        font-weight: 400;
        padding:0 12px !important;
    }
    .nav-link{
        color: #271e1a !important;
    }
    .nav-link:hover{
        color:#ff8248 !important;  
    }
    .collapse ul li{
        text-align: center !important;
        background: #54ea36 !important;
        display: block;
        border-right: solid 2px #FFF;
        transition: all 1s;
    }
    .collapse ul li:hover{
        background: #7cec65 !important;    
        transform: scale(0.98,0.98);
    }
    .collapse ul li:last-child{
        border-right: none;
    }
    .dropdown{
        background: transparent !important;
    }
    .dropdown-menu{
        background: #FFF !important;
    }    
        .logo2{
            margin-top:10px;
            background:transparent;
        }
        .logo2 img{
            height: 85%;
            width: 100%;
        }

.policy{
    background:skyblue;
    padding-bottom:120px;
}
.p1 p :first-child{
    text-align: center;
    background: #E96222;
    color: #FFF;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    margin: 30px auto;
    padding: 12px;
    padding-right: 17px;
    padding-bottom: 17px;
}
.p1 p a{
    text-decoration: none;
}
.policy img:first-child{
    width: 100%;
    box-shadow:1px 5px 14px 4px rgba(0,0,0,0.5);
}
.i1{
    margin: 10px auto;
    border-bottom: solid 7px blanchedalmond;
    background:#AAC8FF;
    margin-bottom: 0;
    padding-top: 10px;
}
.i1 img{
    height: 120px;
    width: 120px !important;
    border-radius: 50%;
    box-shadow:1px 2px 5px 4px #FFF !important;
    margin-left: 20px;
}
.i1 p{
    margin-top: 10px;
    text-align: center;
}
.i2{
    border-bottom: solid 7px blanchedalmond;
    margin: 10px auto;
    background:#AAC8FF;
    margin-top: 0;
    padding-top: 10px;
}
.i2 img{
    height: 120px;
    width: 120px !important;
    border-radius: 50%;
    box-shadow:1px 2px 5px 4px #FFF !important;
    margin-left: 20px;
}
.i2 p{
    margin-top: 10px;
    text-align: center;
}
.imag{
    width: 100%;
    padding-top: 140px;
    margin-top: -140px;
    background: url('image1.png');
}
.show{
    background: url('pexels-denis-ovsyannikov-2724241.webp') fixed;
    background-size: 100% 100%;
}
.show{
    padding: 70px 0;
}
.show p:first-child{
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}
.show p{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: -10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.gallery{
    margin: 30px  auto;
    margin-bottom: 40px;
}
.gallery p{
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.gallery .g2{
    padding: 30px;
}
.gallery img{
    width: 100%;
    height: 100%;
    position: relative;
}
.gal{
    position: absolute;
    display: none;
    margin-top:-70px;			
    bottom:-100px;
    transition: all 2s;
    background: rgba(0,0,0,0.5);
}
.gal p{
    font-weight: 700;
    color: #d4cece;
}
.gallery .g1:hover .gal{
    display: block;
    bottom: 0;
}
.foot{
    background: url('l4.jpeg') no-repeat fixed;
    background-size: 100% 100%;
}
.foot img{
    margin-top: 40px;
    margin-bottom: 20px;
}
.foot p{
    color:#fff;
}
.foot h2{
    color: #30ea0b;
}
.foot ul{
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    font-weight: 300;
    font-weight: 500;
}
.foot ul li{
    margin-top: 15px;
    font-size: 17px;
    transition: all 1s;
}
.foot ul li:hover{
    transform: scale(0.95,0.95);
}
.foot ul li a{
    text-decoration: none;
    color: #d4cece;
}
.foot ul li a:hover{
    text-decoration: none;
    color: #30ea0b;
    
}
.foot iframe{
    margin-top: 150px;
    margin-left: 50px;
}
@media screen and (max-width:1000px) {
    .video{
        position: relative;
    }	
    .logo img{
        height: 30px;
    }
    .logo{
        width:65%;
        height:45px;
        bottom:550px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 67%,#54ea36 60%);
    }
    .logo2 img{
        display: none;
    }
    .menuarea{
        border: none;
        margin: -70px 0px 0px 290px;
    }
    .nav-item{
        font-size: 10px;
        padding:0 0px !important;
    }
    .nav-link{
        color:#fff !important;
        z-index: 2000px !important;
    }
    .navbar-toggler{
        margin: 0px !important;
        padding-left: 20px !important;
    }
    .navbar-toggler-icon{
        height: 20px !important;
    }
    .collapse ul{
       margin-top: -70px !important;
       margin-bottom: -70px !important;
       background: #35df2c5b;
       padding-left: 20px !important;
       padding-right: 20px !important;
    }
    .collapse ul li{
        text-align: center !important;
        background:transparent !important;
        border-right: none;
        display: block;
        transition: all 1s;
        padding-top: -30px !important;
        margin: 0px !important;
    }
    .collapse ul li:hover{
        background: transparent !important;    
        transform: scale(1,1);
    }
    .collapse ul li:last-child{
        border-right: none;
    }
    .dropdown-menu{
        background: #FFF !important;
        z-index: 2000px !important;
    }
    .p1 p :first-child{
        margin: 10px auto;
        margin-top: 20px;
    }
    .policy .i1 img{
        margin-left:120px;
        margin-top: 10px;
    }
    .policy .i1 p{
        margin-left:80px;
    }
    .policy .i2 img{
        margin-left:120px;
    }
    .p1 p :first-child{
        font-size: 20px;
        font-weight: 500;
        margin-left: 35px;
        padding-left: 0px;
    }
    .show p:first-child{
        font-size: 40px;
        margin-bottom: 5px;
    }
    .show p{
        font-size: 20px;
        padding-top:0px ;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:400px) {
    .logo{
        width:65%;
        height:45px;
        bottom:790px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 67%,#54ea36 60%);
    }
    .collapse ul{
        z-index: 2000 !important;
    }
}
@media screen and (max-width:380px) {
    .logo{
        width:75%;
        height:45px;
        bottom:610px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 67%,#54ea36 60%);
    }
    .collapse ul{
        z-index: 2000 !important;
    }
    .menuarea{
        border: none;
        margin: -70px 0px 0px 240px;
    }
}
@media screen and (max-width:370px) {
    .logo{
        width:75%;
        height:45px;
        bottom:670px;
        position:absolute;
        background:linear-gradient(-45deg,transparent 67%,#54ea36 60%);
    }
    .collapse ul{
        z-index: 2000 !important;
    }
    .menuarea{
        border: none;
        margin: -70px 0px 0px 250px;
    }
    .p1 p :first-child{
        text-align: center;
        font-size: 10px;
        padding: 10px;
        padding-left:0px;
        margin-left: 20px;
    }
}